<div class="builder-container">
  <div class="pickers-container">
    <app-pickers (pickerVisible)="onPickerVisibility($event)"></app-pickers>
  </div>

  <div class="builder-canvas" [class.builder-canvas-without-picker]="pickerVisible" *ngIf="project">
    <app-canvas [project]="project" [projectDimention]="projectDimention"
      (openDownloadPopup)="openDownloadPopup($event)"></app-canvas>
  </div>

  <app-download-canvas [project]="project" [projectDimention]="projectDimention" #downloadCanvasModal>
  </app-download-canvas>
</div>
