<div>

</div>
<div class="toolbar-items">
  <div class="ml-2 d-flex toolbar-items-left">

    <!-- Single Select Filter - Font Family-->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.FONT_FAMILY]">
      <div class="toolbar-item">
        <app-font-family [selectedFont]="styles[CSS_PROPS.FONT_FAMILY]" (fontSelect)="onFontFamilySelect($event)"
          [disabled]="isLocked">
        </app-font-family>
      </div>
    </ng-container>

    <!-- Single Select Filter - Font Size-->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.FONT_SIZE]">
      <div class="toolbar-item">
        <app-font-size (valueChange)="onFontSizeSelect($event)" [disabled]="isLocked"
          [selectedValue]="styles[CSS_PROPS.FONT_SIZE]">
        </app-font-size>
      </div>
    </ng-container>

    <!-- Font Weigth Bold -->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.FONT_WEIGHT_BOLD]">
      <div class="toolbar-item">
        <button class="toolbar-icon-size" mat-icon-button (click)="onBoldClick()" matTooltip="Text Bold"
          matTooltipPosition="above" [disabled]="isLocked"
          [class.icon-pressed]="styles[CSS_PROPS.FONT_WEIGHT] === CSS_PROP_VALUES.FONT_WEIGHT_BOLD">
          <i class="material-icons">format_bold</i>
        </button>
      </div>
    </ng-container>

    <!-- Font value Italic -->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.FONT_STYLE_ITALIC]">
      <div class="toolbar-item">
        <button class="toolbar-icon-size" mat-icon-button (click)="onItalicClick()" matTooltip="Text Italic"
          matTooltipPosition="above" [disabled]="isLocked"
          [class.icon-pressed]="styles[CSS_PROPS.FONT_ITALIC] === CSS_PROP_VALUES.FONT_ITALIC">
          <i class="material-icons">format_italic</i>
        </button>
      </div>
    </ng-container>

    <!-- Background color -->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.BACKGROUND_COLOR]">
      <div class="toolbar-item">
        <app-color-picker #backgroundPicker (colorSelect)="onBGColorSelect($event)" heading="Select Background Color">
          <button class="toolbar-icon-size" mat-icon-button matTooltip="Background Color" matTooltipPosition="above"
            (click)="backgroundPicker.open()" [class.disabled]="isLocked">
            <i class="material-icons">format_paint</i>
          </button>
        </app-color-picker>
      </div>
    </ng-container>

    <!-- Text color -->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.COLOR]">
      <div class="toolbar-item">
        <app-color-picker #backgroundPicker (colorSelect)="onColorSelect($event)" heading="Select Text Color">
          <button class="toolbar-icon-size" mat-icon-button matTooltip="Text Color" matTooltipPosition="above"
            (click)="backgroundPicker.open()" [class.disabled]="isLocked">
            <i class="material-icons">color_lens</i>
          </button>
        </app-color-picker>
      </div>
    </ng-container>

    <!-- Text Alignment -->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.TEXT_ALIGNMENT]">
      <div class="toolbar-item">
        <app-text-alignment [disabled]="isLocked" [initialStyles]="styles" (styleChange)="updateCss($event)">
        </app-text-alignment>
      </div>
    </ng-container>

    <!-- Opacity -->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.OPACITY]">
      <div class="toolbar-item">
        <app-slider (slideChange)="updateOpacity($event, false)" [disabled]="isLocked"
          (slideStop)="updateOpacity($event, true)" [selectedOpacity]="styles[CSS_PROPS.OPACITY]">
        </app-slider>
      </div>
    </ng-container>

    <!-- Flip Horizontal -->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.FLIP_HORIZONTAL]">
      <div class="toolbar-item">
        <button class="toolbar-icon-size" mat-icon-button (click)="onFlip(-1, 1)" matTooltip="Flip Horizontally"
          matTooltipPosition="above" [disabled]="isLocked">
          <i class="material-icons rotate-90">unfold_less</i>
        </button>
      </div>
    </ng-container>

    <!-- Flip Vertical -->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.FLIP_VERTICAL]">
      <div class="toolbar-item">
        <button class="toolbar-icon-size" mat-icon-button (click)="onFlip(1, -1)" matTooltip="Flip Vertically"
          matTooltipPosition="above" [disabled]="isLocked">
          <i class="material-icons">unfold_less</i>
        </button>
      </div>
    </ng-container>

    <!-- Letter spacing -->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.LETTER_SPACING]">
      <div class="toolbar-item">
        <app-letter-spacing [disabled]="isLocked" [initialStyles]="styles" (styleChange)="updateCss($event, false)"
          (styleChangeEnd)="updateCss($event, true)">
        </app-letter-spacing>
      </div>
    </ng-container>
  </div>
  <div class="toolbar-items-right">

    <!-- Z-index -->
    <ng-container>
      <div class="toolbar-item">
        <app-element-layering></app-element-layering>
      </div>
    </ng-container>

    <div *ngIf="isGroupUngroupVisible" class="toolbar-item">
      <button mat-icon-button class="toolbar-icon-size" (click)="groupItem()"
        [matTooltip]="isGroupedItems ? 'Ungroup': 'Group'" matTooltipPosition="above"
        [class.icon-pressed]="isGroupedItems">
        <i class="material-icons">group_work</i>
      </button>
    </div>

    <!-- Lock provider -->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.LOCK]">
      <div class="toolbar-item">
        <button mat-icon-button class="toolbar-icon-size" (click)="lockItem()"
          [matTooltip]="isLocked ? 'Unlock Eelement': 'Lock Element'" matTooltipPosition="above"
          [class.icon-pressed]="isLocked">
          <i class="material-icons" *ngIf="isLocked">lock</i>
          <i class="material-icons" *ngIf="!isLocked">lock_open</i>
        </button>
      </div>
    </ng-container>

    <!-- Duplicate Item -->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.DUPLICATE]">
      <div class="toolbar-item">
        <button mat-icon-button class="toolbar-icon-size" (click)="duplicate()" matTooltip='Duplicate Item'
          matTooltipPosition="above">
          <i class="material-icons">file_copy</i>
        </button>
      </div>
    </ng-container>

    <!-- Delete Item -->
    <ng-container *ngIf="avaToolbarOptions[AVA_TOOLBAR_OPTIONS.DELETE]">
      <div class="toolbar-item">
        <button mat-icon-button class="toolbar-icon-size" (click)="removeItem()" matTooltip="Delete Element"
          matTooltipPosition="above" [disabled]="isLocked">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </ng-container>

    <!-- Undo Redo -->
    <div class="toolbar-item">
      <button mat-icon-button class="toolbar-icon-size" (click)="undoItem()" matTooltip='Undo'
        matTooltipPosition="above" [disabled]="undoService.index === -1">
        <i class="material-icons">undo</i>
      </button>

      <button mat-icon-button class="toolbar-icon-size" (click)="redoItem()" matTooltip="Redo"
        matTooltipPosition="above" [disabled]="undoService.index+1 === undoService.length">
        <i class="material-icons">redo</i>
      </button>
    </div>
  </div>
</div>
