@import "../../../../style/structure";
@import "../../../../style/colors.scss";

.toolbar-items {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: $mediumFont;
}

.toolbar-input {
  padding: 4px 6px;
}

.toolbar-input:focus {
  outline: 1px solid $gray-50;
}

.toolbar-icons {
  display: flex;
  border: 1px solid $gray-50;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px;
  color: $gray-400;

  &-selected {
    background: $gray-100;
    border: 1px solid $gray-200;
  }
}

.toolbar-icons:hover:not(.toolbar-icons-selected) {
  background: $gray-50;
}

.toolbar-bg-color {
  border: 1px solid $gray-100;
  border-radius: 2px;
  padding: 15px;
  cursor: pointer;
}
