@import "../../../../../style/colors.scss";
@import "../../../../../style/structure";
.canvas-scaler {
  position: fixed;
  bottom: 60px;
  right: 60px;
  background-color: rgba(83, 47, 47, 0.6);
  border-radius: 3px;
  z-index: 10001;

  div {
    text-align: center;

    button:focus {
      outline: none;
    }
  }
}

.scale-value {
  color: $brightFontColor;
  font-size: $smallestFont;
}

.mat-icon-button {
  color: $gray-20;
}

.mat-icon-button:hover {
  background: $gray-200;
}
