<div>
  <div class="search-box-wrapper">
    <app-search-box [placeholder]="'Search vectors'" (searchQuery)="onNewSearch($event)"></app-search-box>
  </div>

  <div class="images-container scrollbox" #photoContainer (scroll)="onScroll($event)">
    <app-photos [photos]="vectorService.vectors" [boxShadow]="0"></app-photos>
    <div class="w-100 text-center spinner my-4" [class.invisible]="!vectorService.isLoading">
      <div class="spinner-border"></div>
    </div>

    <app-picker-error [errorMsg]="ERROR_MSG.WENT_WRONG" [tryAgainBtn]="true" *ngIf="vectorService.isError">
    </app-picker-error>
    <app-picker-error [errorMsg]="vectorService.vectors.length ? ERROR_MSG.NO_MORE_PHOTOS : ERROR_MSG.NO_RESULT"
      *ngIf="vectorService.endOfResult">
    </app-picker-error>
  </div>
</div>
