<div>
  <div class="search-box-wrapper">
    <app-search-box [placeholder]="'Search photos'" (searchQuery)="onNewSearch($event)"></app-search-box>
  </div>

  <div class="images-container" #photoContainer (scroll)="onScroll($event)">
    <div class="d-flex">
      <ul class="picker-item">
        <ng-container *ngFor="let item of vectorService.vectors">
          <li class="image-li" draggable (dragstart)="dragStart($event, item)">
            <img [src]="item.imageUrl" style="width: 100%;" [attr.id]="item.id">
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="w-100 text-center spinner my-4" [class.invisible]="!vectorService.isLoading">
      <div class="spinner-border"></div>
    </div>
  </div>
</div>
