<div>
  <div class="search-box-wrapper">
    <app-search-box [placeholder]="'Search vectors'" (searchQuery)="onNewSearch($event)"></app-search-box>
  </div>

  <div class="images-container" #photoContainer (scroll)="onScroll($event)">
    <div class="d-flex">
      <ul class="picker-item">
        <ng-container *ngFor="let item of vectorService.vectors">
          <li class="image-li" draggable (dragstart)="dragStart($event, item)" (click)="onClick($event, item)">
            <img [src]="item.imageUrl" [attr.id]="item.id">
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="w-100 text-center spinner my-4" [class.invisible]="!vectorService.isLoading">
      <div class="spinner-border"></div>
    </div>

    <app-picker-error [errorMsg]="ERROR_MSG.WENT_WRONG" [tryAgainBtn]="true" *ngIf="vectorService.isError">
    </app-picker-error>
    <app-picker-error [errorMsg]="vectorService.vectors.length ? ERROR_MSG.NO_MORE_PHOTOS : ERROR_MSG.NO_RESULT"
      *ngIf="vectorService.endOfResult">
    </app-picker-error>
  </div>
</div>
