@import "../../../../../style/colors.scss";
@import "../../../../../style/structure";

$pickerItemBackgroundHover: #6b7c95;

.photos-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  li {
    padding: 1px;
    margin: 3px;
    border-radius: 3px;
    cursor: pointer;
    height: 130px;
    background-position: center;

    width: calc(50% - 12px);
    height: 130px;
    background-size: cover;
    -webkit-user-drag: element;

    img {
      border-radius: 3px;
      max-height: 100%;
      max-width: 100%;
    }
  }

  li:hover {
    box-shadow: 0 0 4px 1px $gray-70;
    transition: box-shadow 0.3s;
  }
}

.hover-effect {
  .background {
    background-color: $pickerItemBackgroundHover;
    transition: box-shadow 0.3s;
  }
  .border {
    box-shadow: 0 0 4px 1px $gray-70;
    transition: box-shadow 0.3s;
  }
}
