@import "../../../../../style/colors.scss";
@import "../../../../../style/structure";

$pickerItemBackgroundHover: #6b7c95;

.photos-grid {
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  li {
    padding: 1px;
    margin: 3px;
    border-radius: 3px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    -webkit-user-drag: element;
    background-color: $pickerItemBackground;
    // transition: background-color 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 3px;
      max-height: 100%;
      max-width: 100%;
    }
  }

  li:hover {
    background-color: $pickerItemBackgroundHover;
  }
}

.hover-effect-border:hover {
  box-shadow: 0 0 4px 1px $gray-70;
  transition: box-shadow 0.3s;
}

.one-image-row {
  width: calc(100% - 3px);
}

.two-images-row {
  width: calc(50% - 6px);
}

.image-options {
  position: absolute;
  right: 0px;
  top: 5px;
  visibility: hidden;

  &:hover {
    background-color: rgba($color: #666666, $alpha: 0.3);
  }
}
