<div class="photos-grid">
  <ul class="picker-item">
    <li class="image-li" [class.hover-effect-border]="boxShadow" *ngFor="let item of photos" draggable
      (dragstart)="dragStart($event, item)" (click)="onClick($event, item)" [style.height]="fixHeight"
      [ngStyle]="{'background-image': photoAsBackground ? 'url('+ item.imageUrl +')' : 'none'}"
      [ngClass]="twoImgInRow? 'two-images-row': 'one-image-row'">
      <img [src]="item.imageUrl" [attr.id]="item.id" *ngIf="!photoAsBackground">
      <i class="material-icons image-options" (click)="onSettings($event, item)" #myButton>
        more_vert
        <div class="dropdown-menu show" (appClickOutside)="toggleSettings(item)" [srcElement]="myButton"
          *ngIf="item._showSettings" [@SlideDown]>
          <div class="dropdown-item py-2" *ngFor="let item of settingOptions" (click)="sendEvent(item)">
            {{item.label}}
          </div>
        </div>
      </i>
    </li>
  </ul>
</div>

<ng-container *ngIf="handleErrorLoading">
  <div class="w-100 text-center spinner my-4" [class.invisible]="!isLoading" *ngIf="!isError">
    <div class="spinner-border"></div>
  </div>

  <app-picker-error class="w-100 my-3" [errorMsg]="ERROR_MSG.WENT_WRONG" [tryAgainBtn]="true" *ngIf="isError"
    (tryAgain)="retry.emit()">
  </app-picker-error>
  <app-picker-error class="w-100 my-3" [errorMsg]="photos.length ? ERROR_MSG.NO_MORE_PHOTOS : ERROR_MSG.NO_RESULT"
    *ngIf="endOfResult">
  </app-picker-error>
</ng-container>
