@import "../../../../../style/colors.scss";
@import "../../../../../style/structure";

.photos-grid {
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .image-li {
    position: relative;
    padding: 1px;
    margin: 3px;
    border-radius: 3px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    -webkit-user-drag: element;
    background-color: $pickerItemBackground;
    // transition: background-color 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 3px;
      max-height: 100%;
      max-width: 100%;
    }
  }

  .image-li:hover {
    background-color: $pickerItemBackgroundHover;
    .image-options {
      display: block;
    }
  }
}

.hover-effect-border:hover {
  box-shadow: 0 0 2px 1px $gray-70;
  transition: box-shadow 0.3s;
}

.one-image-row {
  width: calc(100% - 3px);
}

.two-images-row {
  width: calc(50% - 6px);
}

.image-options {
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
  border-radius: 3px;
  background-color: rgba($color: $gray-100, $alpha: 0.5);
  transition: background-color 0.4s;
  &:hover {
    background-color: rgba($color: $gray-400, $alpha: 0.8);
  }
}

.dropdown-menu {
  position: fixed;
  left: auto;
  top: auto;
  min-width: 100px;
  font-family: "Courier New", Courier, monospace;
  font-size: $mediumFont;
}
