<div class="photos-grid">
  <ul class="picker-item">
    <li class="image-li" [class.hover-effect-border]="boxShadow" *ngFor="let item of photos" draggable
      (dragstart)="dragStart($event, item)" (click)="onClick($event, item)" [style.height]="fixHeight"
      [ngStyle]="{'background-image': photoAsBackground ? 'url('+ item.imageUrl +')' : 'none'}"
      [ngClass]="twoImgInRow? 'two-images-row': 'one-image-row'">
      <img [src]="item.imageUrl" [attr.id]="item.id" *ngIf="!photoAsBackground">
      <i class="material-icons image-options">more_vert</i>
    </li>
  </ul>
</div>
