<div #srcElement (click)="toggleOptions()">
  <ng-content></ng-content>
</div>

<div class="left-raiser-container text-decoration-content" *ngIf="showPanel" (appClickOutside)="toggleOptions()"
  [srcElement]="srcElement">
  <div>
    <p>Text Style</p>
    <div class="d-flex section-content">
      <div *ngFor="let txtStyle of textStyles" class="mr-1">
        <button class="toolbar-icon-size" mat-icon-button matTooltip="{{txtStyle.tooltip}}"
          (click)="applyTextStyle(txtStyle)"
          [class.icon-pressed]="initialStyles[txtStyle.style] === txtStyle.styleValue">
          <i class="material-icons">{{txtStyle.icon}}</i>
        </button>
      </div>
    </div>
  </div>

  <div>
    <p>Text Alignment</p>
    <div class="section-content text-alignment-icons">
      <div class="btn-group w-100" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" *ngFor="let style of textAlignment"
          (click)="sendEvent(CSS_PROPERTIES.TEXT_ALIGN, style.styleValue)"
          [class.active]="initialStyles[CSS_PROPERTIES.TEXT_ALIGN] === style.styleValue">
          <i class="material-icons">{{style.icon}}</i></button>
      </div>
    </div>
  </div>

  <div>
    <p>Letter Spacing</p>
    <div class="section-content letter-spacing">
      <mat-slider class="mat-primary" (input)="letterSpacing = $event.value" [thumbLabel]="true" [step]="1">
      </mat-slider>
      <span>{{letterSpacing}}</span>
    </div>
  </div>

  <div>
    <p>Line Height</p>
    <div class="section-content letter-spacing">
      <mat-slider class="mat-primary" (input)="lineHeight = $event.value" [thumbLabel]="true" [step]="1"></mat-slider>
      <span>{{lineHeight}}</span>
    </div>
  </div>
</div>
