<section #myButton>
  <button mat-icon-button matTooltip="Layering" class="toolbar-icon-size" matTooltipPosition="above"
    [disabled]="disabled" (click)="toggle()">
    <i class="material-icons">layers</i>
  </button>
</section>
<!-- <div class="toolbar-item-drop toolbar-item-drop-right" > -->
<div class="dropdown-menu show" (appClickOutside)="toggle()" [srcElement]="myButton" *ngIf="isVisible" [@SlideDown]>
  <ul>
    <!-- <li class="dropdown-header">Layers</li> -->
    <li class="dropdown-item btn d-flex align-items-center py-2" *ngFor="let item of availableOtions"
      (click)="sendEvent(item)" [class.disabled]="!selectedNode[item.disabled]">
      <i class="material-icons mr-2 rotate-90">{{item.icon}}</i><span>{{item.toolTip}} </span>
    </li>
  </ul>
</div>
