@import "./colors.scss";
@import "./structure";

.mat-button {
  color: white;
  :hover {
    color: white;
  }
}
.mat-stroked-button {
  color: $primaryColor;
  background-color: $primaryBgColor;
  border-radius: 2px;
  outline: none;
  :focus {
    outline: none;
  }
}

button:focus {
  outline: none;
}

.mat-icon-button {
  border-radius: 3px !important;
}

.mat-icon-button:hover {
  background: $gray-70;
}

.mat-tooltip {
  /* your own custom styles here */
  /* e.g. */
  background-color: $gray-300;
}

.icon-pressed {
  background-color: $gray-50;
  box-shadow: 0 0 3px inset $gray-200;
}

.mat-tooltip {
  color: $gray-20 !important;
  background: black;
  font-size: $mediumFont;
}
