@import "./colors.scss";

$headerHeight: 65px;

$contentHeight: calc(100vh - #{$headerHeight});

// Font size
$smallestFont: 0.625rem;
$smallFont: 0.75rem;
$mediumFont: 0.813rem;
$largeFont: 0.938rem;
$largerFont: 1rem;
$largestFont: 1.25rem;

// Left menu
$leftMenu: 74px;

// Left Menu Pickers
$pickerWidth: 310px;

// Canvas
$canvasInitialHeight: calc($contentHeight - 150px);

// Z-index

$modalZ: 10000;
$toolbarZ: 9999;

// Application

.left-raiser-container {
  position: fixed;
  z-index: 10;
  left: $leftMenu;
  top: $headerHeight;
  width: $pickerWidth;
  height: $contentHeight;
  background: $gray-30;
  padding: 20px 10px;
  box-shadow: 0 0 3px;
}
