@import "./colors.scss";

$headerHeight: 50px;

$contentHeight: calc(100vh - #{$headerHeight});

// Font size
$smallestFont: 0.625rem;
$smallFont: 0.75rem;
$mediumFont: 0.813rem;
$largeFont: 0.938rem;
$largerFont: 1rem;
$largestFont: 1.25rem;

// Left menu
$leftMenu: 65px;

// Left Menu Pickers
$pickerWidth: 310px;
$pickerItemBackground: #516179;

// Canvas
$canvasInitialHeight: calc($contentHeight - 150px);

// Z-index

$modalZ: 10000;
$toolbarZ: 9999;

// Resize Handlers Start

$resizeHandlerBg: white;
$resizeHandlerBorder: darkgray;

// Resize Handlers end

$boxShadowTransition: box-shadow 0.3s;

.toolbar-icon-size {
  width: 32px;
  line-height: 32px;
  height: 32px;
}
