$canvas: #fdfff8;

$primaryColor: rgb(52, 58, 64, 1);

$leftMenuBg: rgb(52, 58, 64, 0.8);

$gray-50: #F0F0F0;
$gray-70: #D3D3D3;
$gray-100: #C0C0C0;
$gray-200: #A9A9A9;
$gray-300: #808080;
$gray-400: #484848;
$gray-500: #282828;
$gray-50: #E8E8E8;
$gray-50: #E8E8E8;
$gray-50: #E8E8E8;
$gray-50: #E8E8E8;
$gray-50: #E8E8E8;
$gray-50: #E8E8E8;
$gray-50: #E8E8E8;
$gray-50: #E8E8E8;
$gray-50: #E8E8E8;
