<div class="upload-picker">
  <div class="upload-content">
    <div class="img-uploader">
      <div>
        <i class="material-icons">backup</i>
        <p class="mb-2">PNG or JPG</p>
        <app-image-uploader (upload)="onUpload($event)">
          <button type="file" class="btn btn-info btn-sm">UPLOAD</button>
        </app-image-uploader>
        <p _ngcontent-nsi-c112="" class="mt-2 text-center">Note: Uploaded photos will be erased on refreshing or closing
          the browser tab</p>
      </div>
    </div>
    <div class="photos-grid-container">
      <app-photos [photos]="uploadPickerService.images" [photoAsBackground]="true" [boxShadow]="true"
        [handleErrorLoading]="false" [boxShadow]="true"></app-photos>
    </div>
  </div>
</div>
