<div class="login-content">
  <div class="easy-login-container">
    <!-- <p>{{type}} with</p> -->
    <app-easy-login [type]="'Login'"></app-easy-login>
  </div>
  <hr>
  <div class="email-login-container">
    <div class="email-login-content">
      <p>Login with email</p>
      <div class="mt-3">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit($event)">
          <div class="mt-2">
            <input class="form-control" formControlName="email" type="text" placeholder="Email" required>
          </div>
          <div class="mt-3">
            <input class="form-control" formControlName="password" type="password" placeholder="Password">
          </div>
          <div>
            <a [routerLink]="APP_ROUTES.FORGOT_PASSWORD">Fortgot your password?</a>
          </div>
          <div class="mt-3">
            <app-dp-button loadingTitle="Logging in..." [loading]="isLoading" title="Login"
              [disabled]="userForm?.invalid"></app-dp-button>
            <!-- <button type="submit" class="btn btn-light submit-button">Login</button> -->
          </div>
        </form>
      </div>
      <div class="mt-3">
        <a [routerLink]="APP_ROUTES.SIGNUP">New here? Sign Up</a>
      </div>
    </div>
  </div>
</div>
