<div class="login-page">
  <div class="login-page-left">

  </div>
  <div class="login-page-right">
    <div class="login-page-right-content">
      <div class="easy-login-container">
        <!-- <p>{{type}} with</p> -->
        <app-easy-login [type]="type"></app-easy-login>
      </div>
      <hr>
      <div class="email-login-container">
        <div class="email-login-content">
          <p>{{type}} with email</p>
          <div class="mt-3">
            <div *ngIf="!isLogin">
              <input class="form-control" type="text" placeholder="Name" required>
            </div>
            <div class="mt-2">
              <input class="form-control" type="text" placeholder="Email" required>
            </div>
            <div class="mt-2">
              <input class="form-control" type="password" placeholder="Password">
            </div>
            <div>
              <a  *ngIf="isLogin">Fortgot your password?</a>
            </div>
            <div class="mt-2">
              <button type="submit" class="btn btn-light">{{ isLogin ? 'Login' : 'Create an account'}}</button>
            </div>

          </div>
          <div class="mt-3">
            <a [routerLink]="APP_ROUTES.SIGNUP" *ngIf="isLogin else signin">New here? Sign Up</a>
            <ng-template #signin>
              <a [routerLink]="APP_ROUTES.LOGIN">Already have an account? Login</a>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
