@import "../../../../../style/colors.scss";
@import "../../../../../style/structure";

:host {
  padding: 10px 15px 0;
}

.search-box-wrapper {
  margin: 0 15px 15px;
}

.text-container {
  overflow-y: auto;
  padding: 0 8px 10px;
  height: calc(#{$contentHeight} - 117px);
}

.picker-item {
  display: flex;
  flex-wrap: wrap;
  user-select: none;

  li {
    padding: 10px;
    margin: 7px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: grab;
    box-shadow: 0 0 2px $gray-20;
  }

  .image-li {
    width: calc(50% - 14px);
    padding: 0;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .custom-text-li {
    width: calc(100% - 7px);
    padding: 7px 10px;
    background-color: $gray-70;
    color: $gray-400;
    transition: background-color 0.2s;
  }

  .custom-text-li:hover {
    background-color: $gray-20;
  }
}

.custom-li-item {
  height: 120px;
  text-align: center;
  display: inline-grid;
  font-size: 30px;
  text-transform: uppercase;
  font-family: fantasy;
  user-select: none;
}
