@import "../../../../../style/colors.scss";

.picker-item {
  li {
    padding: 10px;
    margin: 7px;
    border-radius: 3px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .text-li {
    width: calc(50% - 14px);
    color: $gray-500;
  }
}
