<div>
  <div class="search-box-wrapper">
    <app-search-box [placeholder]="'Search photos'" (searchQuery)="onNewSearch($event)"></app-search-box>
  </div>

  <div class="images-container scrollbox" #photoContainer (scroll)="onScroll($event)">
    <div class="d-flex">
      <ul class="picker-item" *ngFor="let row of imageService.rows">
        <ng-container *ngFor="let item of row">
          <li class="image-li" draggable (dragstart)="dragStart($event, item)" (click)="onClick($event, item)">
            <img [src]="item.imageUrl" style="width: 100%;" [attr.id]="item.id">
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="w-100 text-center spinner my-4" [class.invisible]="!imageService.isLoading || imageService.isError">
      <div class="spinner-border"></div>
    </div>

    <app-picker-error [errorMsg]="ERROR_MSG.WENT_WRONG" [tryAgainBtn]="true" *ngIf="imageService.isError"
      (tryAgain)="imageService.onTryAgain()">
    </app-picker-error>
    <app-picker-error [errorMsg]="imageService.rows[0].length ? ERROR_MSG.NO_MORE_PHOTOS : ERROR_MSG.NO_RESULT"
      *ngIf="imageService.endOfResult">
    </app-picker-error>

  </div>
</div>
