$contentMargin: 7px;

.picker-item {
  li {
    padding: 10px;
    margin: $contentMargin;
    border-radius: 3px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .image-li {
    width: calc(50% - 14px);
  }
}
