<div class="login-content" [@ScaleInOut]>
  <div class="easy-login-container">
    <!-- <p>{{type}} with</p> -->
    <app-easy-login [type]="'Sign Up'"></app-easy-login>
  </div>
  <hr>
  <div class="email-login-container">
    <div class="email-login-content">
      <p class="description">Create an account with email</p>
      <div class="mt-3">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit($event)">
          <div>
            <input class="form-control" type="text" formControlName="name" placeholder="Full name">
          </div>
          <div class="mt-3">
            <input class="form-control" type="email" formControlName="email" placeholder="Email">
          </div>
          <div class="mt-3">
            <input class="form-control" type="password" formControlName="password"
              placeholder="Password (6 to 20 characters)">
          </div>
          <div class="mt-3">
            <app-dp-button [disabled]="userForm?.invalid" [loading]="isLoading" title="Create an account"
              loadingTitle="Creating...">
            </app-dp-button>
          </div>
        </form>
      </div>
      <div class="mt-3 mb-5">
        <a [routerLink]="APP_ROUTES.LOGIN">Already have an account? Login</a>
      </div>
    </div>
  </div>
</div>
