<div class="modal is-open fade show" *ngIf="isVisible" [@InOut]>
  <div class="modal-container">
    <div class="modal-left">
      <img src="/assets/images/download-canvas.png" alt="">
    </div>
    <div class="modal-right">
      <h1 class="modal-title">Download</h1>
      <p class="modal-desc">Download your work with suitable format.</p>
      <ul class="nav nav-tabs">
        <li class="nav-item c-ptr" *ngFor="let item of downloadOptions">
          <!-- <fa-icon [icon]="item.icon"></fa-icon> -->
          <a class="nav-link" [class.active]="item.type === activeType"
            (click)="activeType = item.type">{{item.label}}</a>
        </li>
      </ul>
      <div class="tab-content download-size" id="myTabContent">
        <div class="tab-pane" [ngClass]="{'show active': activeType === DownloadTypes.PNG}" id="home" role="tabpanel"
          aria-labelledby="home-tab">
          <p class="mb-3">Select Size</p>
          <div class="d-flex justify-content-between">
            <div class="custom-control custom-radio" *ngFor="let item of availableSizes">
              <input type="radio" [id]="item.id" name="customRadio" class="custom-control-input" [value]="item.id"
                [(ngModel)]="selectedSizeId">
              <label class="custom-control-label" [for]="item.id">{{item.label}}</label>
            </div>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{'show active': activeType === DownloadTypes.PDF}" id="profile" role="tabpanel"
          aria-labelledby="profile-tab">Download as a high quality PDF</div>
      </div>

      <div class="d-flex justify-content-end align-items-center mt-4">
        <!-- <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="keepWatermark">
          <label class="custom-control-label" for="customCheck1">Keep watermark</label>
        </div> -->
        <button type="button" class="btn btn-primary" (click)="beginDownload()" [disabled]="disableDownload">
          {{disableDownload? 'Downloading...' : 'Free Download'}}
        </button>
      </div>
    </div>
    <i class="material-icons close-button" (click)="toggleModal()">close</i>
  </div>
</div>
