<div class="login-content" [@ScaleInOut]>
  <div class="email-login-container">
    <div class="email-login-content">
      <h4>Reset your password</h4>
      <p *ngIf="!succeeded">An email will be sent you with a reset password link, which will be valid for 10 min.</p>
      <div class="mt-3" *ngIf="!succeeded else emailSent">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit($event)">
          <div class="mt-2">
            <input class="form-control" type="text" formControlName="email" placeholder="Email" required>
          </div>
          <div class="mt-3">
            <app-dp-button [disabled]="userForm?.invalid || succeeded" [loading]="isLoading" title="Reset"
              loadingTitle="Resting...">
            </app-dp-button>
          </div>
        </form>
      </div>
      <ng-template #emailSent>
        <div class="mt-2">
          <p>Please check you email (including spam folder) and click on the reset password link, which will be valid
            for 10 minutes.</p>
        </div>
      </ng-template>
      <div class="mt-3">
        <a [routerLink]="APP_ROUTES.LOGIN">Remember password? Login here</a>
      </div>
    </div>
  </div>
</div>
