<div class="selected-element" [ngStyle]="styles" ngResizable rzHandles="all" (rzResizing)='resizing($event)'>

  <div class="my-resize-handle my-resize-handle-e">
    <div class="my-resize-handle-inner"></div>
  </div>
  <div class="my-resize-handle my-resize-handle-w">
    <div class="my-resize-handle-inner"></div>
  </div>
  <div class="my-resize-handle my-resize-handle-n">
    <div class="my-resize-handle-inner"></div>
  </div>
  <div class="my-resize-handle my-resize-handle-s">
    <div class="my-resize-handle-inner"></div>
  </div>
</div>
