<ngx-moveable #moveable [target]="selectedNodes" [edge]="true" [renderDirections]="directionHandles" [dragArea]="true"
  [elementGuidelines]="[]" [draggable]="true" [container]="container" [origin]="false" [rotatable]="true"
  [resizable]="resiable" [scalable]="false" [warpable]="false" [pinchable]="false" [keepRatio]="keepRatio"
  [defaultGroupRotate]="defaultGroupRotate" (resizeStart)="onResizeStart($event)" (resize)="onResize($event)"
  (drag)="dragging($event)" (dragGroup)="onGroupDrag($event)" (resizeGroupStart)="onGroupResizeStart($event)"
  (resizeGroup)="onGroupResize($event)" (scaleGroup)="onGroupScale($event)"  (rotateGroup)="onGroupRotate($event)" (rotate)="rotating($event)"
  [throttleResize]="1" [horizontalGuidelines]="[0, 250, 500]" [scalable]="true" [snappable]="true" [snapCenter]="true"
  [verticalGuidelines]="[0, 250, 500]" (scale)="onScaling($event)"
  (click)="onElementClick($event)">
</ngx-moveable>
