<button class="btn btn-light dropdown-toggle btn-sm font-family-button" type="button" #buttonSource
  [disabled]="disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleOptions()">
  <span>{{selectedFont}}</span>
</button>

<div class="left-raiser-container" *ngIf="isVisible" (appClickOutside)="toggleOptions()" [srcElement]="buttonSource">
  <div>
    <div class="mb-4 search-box-container">
      <app-search-box [minQueryLength]="0" (searchValueChange)="filterResult($event)"></app-search-box>
    </div>
    <div class="font-container">
      <cdk-virtual-scroll-viewport itemSize="38">
        <ul>
          <li class="add-your-font">
            <button type="button" class="btn btn-primary btn-sm">+ Add your font</button>
          </li>
          <ng-container *cdkVirtualFor="let item of filteredOptions">
            <li [style.fontFamily]="item.value" (click)="onSelect(item)" [class.selected]="item.value === selectedFont">
              {{item.label}}
            </li>
          </ng-container>
        </ul>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
