@import "../../../../../style/structure";
@import "../../../../../style/colors.scss";

$searchBoxHeight: 70px;
$fontListHeight: calc(#{$contentHeight} - 40px - 70px);

.search-box-container {
  width: 100%;
  padding: 0 10px;
}
.font-container {
  font-size: $largerFont;

  ul {
    padding: 0 10px;
  }

  .cdk-virtual-scroll-viewport {
    height: $fontListHeight;
  }

  li {
    cursor: pointer;
    padding: 7px;
  }
  .selected {
    background-color: lightblue;
  }
  li:hover:not(.selected) {
    background-color: $gray-50;
  }
}

.add-your-font {
  padding: 0 0 7px !important;

  button {
    width: 100%;
  }
}

.add-your-font:hover {
  background-color: inherit !important;
}
