@import "../../../../style/structure";
@import "../../../../style/colors";

.pickers-container {
  display: flex;
}

.picker-close {
  position: absolute;
  top: -10px;
  right: -10px;
}

.pickers {
  position: relative;
  top: 0;
  color: white;
  font-size: $smallestFont;
  width: $leftMenu;
  height: $contentHeight;
  background-color: $pickersBg;
  box-shadow: 2px 0 0 $gray-200;
  overflow-y: auto;

  ul {
    margin: 0;

    li {
      text-align: center;
      padding: 10px 10px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: background-color 0.25s ease-in-out;

      mat-icon {
        font-size: 25px;
        width: 25px;
      }

      span {
        margin-top: 2px;
      }

      &.selected {
        background-color: $leftMenuSelected;
        border-radius: 3px;
      }
    }

    li:first-child {
      // padding-top: 20px;
    }

    li:hover {
      color: #eaeaea;
    }
  }
}
