<div class="pickers-container position-relative">
  <div class="pickers">
    <ul data-html2canvas-ignore>
      <li *ngFor="let item of items; let i = index" (click)="selectPicker(item, i)"
        [class.selected]="i === selectedItemIndex && showPicker">
        <mat-icon aria-hidden="false" aria-label="item.label">{{item.icon}}</mat-icon>
        <span>{{item.label}}</span>
      </li>
    </ul>
  </div>
  <app-picker [picker]="selectedPicker" [showPicker]="showPicker" (showPickerChange)="closePicker()"></app-picker>
</div>
