@import "../../../../style/structure";
@import "../../../../style/colors";

.pickers {
  position: relative;
  top: 0;
  color: white;
  font-size: $smallFont;
  width: $leftMenu;
  height: $contentHeight;
  background-color: $leftMenuBg;
  padding: 5px;
  overflow-y: auto;

  ul {
    li {
      text-align: center;
      padding: 10px;
      cursor: pointer;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li:hover {
      color: #eaeaea;
    }
  }
}
