<div>
  <div class="search-box-wrapper">
    <app-search-box [placeholder]="'Search Backgrounds'" (searchQuery)="onNewSearch($event)"></app-search-box>
  </div>

  <div class="images-container" #photoContainer (scroll)="onScroll($event)">
    <div class="d-flex">
      <ul class="picker-item">
        <li class="image-li custom-li bg-color-selctor" draggable (click)="backgroundPicker.open()" #colorSelector>
          <i class="material-icons">format_paint</i>
          Select Color
        </li>
        <app-color-picker #backgroundPicker (colorSelect)="onNewSearch('hello')"
          [externalSourseElement]="colorSelector">
        </app-color-picker>

        <li class="image-li custom-li" draggable>
          Transparent
        </li>
        <ng-container *ngFor="let item of backgroundService.backgrounds">
          <li class="image-li" draggable (dragstart)="dragStart($event, item)" (click)="onClick($event, item)"
            [ngStyle]="{'background-image':'url('+ item.imageUrl +')'}">
            <!-- <img [src]=" item.imageUrl" [attr.id]="item.id"> -->
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="w-100 text-center spinner my-4" [class.invisible]="!backgroundService.isLoading">
      <div class="spinner-border"></div>
    </div>
  </div>
</div>
