<div>
  <div class="search-box-wrapper">
    <app-search-box [placeholder]="'Search Backgrounds'" (searchQuery)="onNewSearch($event)"></app-search-box>
  </div>

  <div class="photos-grid-container scrollbox" #photoContainer (scroll)="onScroll($event)">
    <div>
      <ul class="custom-li-items">
        <li class="image-li custom-li bg-color-selctor" (click)="backgroundPicker.open()" #colorSelector>
          <i class="material-icons">format_paint</i>
          Select Color
        </li>
        <app-color-picker #backgroundPicker (colorSelect)="onColorSelect($event)" heading="Background Color"
          [externalSourseElement]="colorSelector">
        </app-color-picker>

        <li class="image-li custom-li" (click)="onColorSelect('transparent')">
          Transparent
        </li>
      </ul>
    </div>
    <app-photos [photos]="backgroundService.backgrounds" [photoAsBackground]="true" [boxShadow]="true"></app-photos>
    <div class="w-100 text-center spinner my-4" [class.invisible]="!backgroundService.isLoading">
      <div class="spinner-border"></div>
    </div>

    <app-picker-error [errorMsg]="ERROR_MSG.WENT_WRONG" [tryAgainBtn]="true" *ngIf="backgroundService.isError">
    </app-picker-error>
    <app-picker-error [errorMsg]="backgroundService.backgrounds.length ? ERROR_MSG.NO_MORE_PHOTOS : ERROR_MSG.NO_RESULT"
      *ngIf="backgroundService.endOfResult">
    </app-picker-error>
  </div>
</div>
