@import "../../../../../style/colors.scss";
@import "../../../../../style/structure";

$contentMargin: 3px;

.background-picker {
  padding: 20px 0 0;
}

.search-box-wrapper {
  margin: 0 15px 15px;
}

.photos-grid-container {
  overflow-y: auto;
  padding: 0px 4px 10px 12px;
  height: calc(#{$contentHeight} - 85px);
}

.custom-li-items {
  display: flex;
  width: 100%;

  li {
    width: calc(50% - 3px);
    height: 80px;
    margin: 3px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $smallFont;
  }
}

.bg-color-selctor {
  background-image: linear-gradient(
      rgba(10, 10, 10, 0.4),
      rgba(10, 10, 10, 0.4)
    ),
    url("~src/assets/images/bg-color-selector.png");
  background-size: cover;
}
