<section #spacingButton>
  <button mat-icon-button class="toolbar-icon-size" (click)="toggle()" matTooltip="Letter Spacing"
    matTooltipPosition="above" [disabled]="disabled">
    <i class="material-icons">text_rotation_none</i>
  </button>
</section>

<section class="toolbar-item-drop letter-spacing" *ngIf="isVisible" (appClickOutside)="toggle()"
  [srcElement]="spacingButton">
  <div>
    <p>Letter Spacing</p>
    <div class="letter-spacing-content">
      <mat-slider class="mat-primary" (input)="onLetterSpacing($event)" (change)="onLetterSpacing($event, true)"
        [thumbLabel]="true" [step]="1" [min]="-10" [max]="50"
        [value]="(initialStyles[CSS_PROPERTIES.LETTER_SPACING] | removePx) || 0">
      </mat-slider>
      <span>{{(initialStyles[CSS_PROPERTIES.LETTER_SPACING] | removePx) || 0}}</span>
    </div>
  </div>

  <div>
    <p>Line Height</p>
    <div class="letter-spacing-content">
      <mat-slider class="mat-primary" (input)="onLineHeight($event)" (change)="onLineHeight($event, true)"
        [thumbLabel]="true" [step]="1" [min]="-10" [max]="50" [value]="getLineHeight()">
      </mat-slider>
      <span>{{getLineHeight()}}</span>
    </div>
  </div>
</section>
