.letter-spacing {
  // padding: ;
}
.letter-spacing-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  span {
    width: 50px;
    text-align: right;
  }
}
