<section #opacityButton>
  <button mat-icon-button matTooltip="Change Opacity" matTooltipPosition="above" class="toolbar-icon-size"
    [disabled]="disabled" (click)="isOpacitySelectorOpen = !isOpacitySelectorOpen">
    <i class="material-icons">opacity</i>
  </button>
</section>
<section class="my-slider toolbar-item-drop py-0" (appClickOutside)="isOpacitySelectorOpen = false"
  [srcElement]="opacityButton" *ngIf="isOpacitySelectorOpen">
  <span>Transparency</span>
  <mat-slider [(ngModel)]="selectedValue" class="mat-primary" [thumbLabel]="true" [step]="1"
    (change)="onSliderStop($event)" (input)="onValueChange($event)"></mat-slider>
</section>
