<div class="tool-bar">
  <app-toolbar [selectedNodes]="selectedNodes" [selectedCanvasElements]="selectedCanvasElements"
    (duplicateSelectedItem)="onDuplicateSelectedItem($event)" (removeSelectedItem)="onItemRemove($event)">
  </app-toolbar>
</div>

<div class="canvas-container" #canvasContainer>
  <div class="canvas-wrapper position-relative">
    <div style="width: 100%; height: 50px;"></div>
    <div class="canvas" #canvas (drop)="drop($event)" (dragover)="allowDrop($event)" (click)="onCanvasClick($event)">

    </div>
    <div style="width: 100%; height: 50px;"></div>
    <app-select-element [selectedNodes]="selectedNodes" [defaultGroupRotate]="defaultGroupRotate"
      [selectedCanvasElements]="selectedCanvasElements" [container]="canvas">
    </app-select-element>
    <ngx-selecto [container]="canvas" [dragContainer]="canvasContainer" [selectableTargets]='projectNode.childNodes'
      [selectByClick]="true" [selectFromInside]="false" [continueSelect]="false" [toggleContinueSelect]="'shift'"
      [keyContainer]="canvas" [hitRate]="1" (selectEnd)="onSelectionEnd($event)" (select)="onSelection($event)">

    </ngx-selecto>
  </div>

  <!-- <ngx-element-selector [targetElements]="projectNode.children" [container]="canvasContainer"
    (onSelectStart)="onSelectionStart($event)" (onSelect)="onSelection($event)" (onSelectEnd)="onSelectionEnd($event)">
  </ngx-element-selector> -->
</div>

<app-popup *ngIf="showPreview">
  <app-canvas-preview [canvasElement]="project?.canvasElement" (closePreview)="showPreview = false">
  </app-canvas-preview>

</app-popup>

<app-canvas-scale [node]="canvas" *ngIf="!showPreview"></app-canvas-scale>
