<div class="tool-bar">
  <app-toolbar [selectedNodes]="selectedNodes" [selectedCanvasElements]="selectedCanvasElements"
    (clearSelectedElements)="clearItemSelection()" (duplicateSelectedItem)="onDuplicateSelectedItem($event)"
    (removeSelectedItem)="onItemRemove($event)" (unGroupSelectedItem)="onItemUnGroup($event)"
    (groupSelectedItem)="onItemGroup($event)">
  </app-toolbar>
</div>

<div class="canvas-container" #canvasContainer>
  <div class="canvas-wrapper position-relative">
    <div style="width: 100%; height: 50px;"></div>
    <div class="canvas" #canvas (drop)="drop($event)" (dragover)="allowDrop($event)" (click)="onCanvasClick($event)">

    </div>
    <div style="width: 100%; height: 50px;"></div>
    <app-select-element [selectedNodes]="selectedNodes" [defaultGroupRotate]="defaultGroupRotate"
      [projectDimention]="projectDimention" [guidingElements]="guidingElements"
      [selectedCanvasElements]="selectedCanvasElements" [container]="canvas" #selectElementRef
      (groupItems)="onItemGroup($event)" (unGroupItems)="onItemUnGroup($event)">
    </app-select-element>
    <ngx-selecto [container]="canvas" [dragContainer]="canvasContainer" [selectableTargets]='projectNode.childNodes'
      [selectByClick]="true" [selectFromInside]="false" [continueSelect]="false" [toggleContinueSelect]="'shift'"
      [keyContainer]="canvas" [hitRate]="1" (selectEnd)="onSelectionEnd($event)" (select)="onSelection($event)"
      [preventDefault]="true" (dragStart)="selectoDragStart($event)" (dragEnd)="selectoDragEnd($event)">
    </ngx-selecto>
  </div>
</div>

<app-popup *ngIf="showPreview">
  <app-canvas-preview [canvasElement]="project?.canvasElement" (closePreview)="showPreview = false">
  </app-canvas-preview>

</app-popup>

<app-canvas-scale [node]="canvas" *ngIf="!showPreview"></app-canvas-scale>
