<div class="tool-bar">
  <app-toolbar [options]="toolbarOptions" [selectedNode]="selectedNode" [selectedItem]="selectedItem"
    (removeSelectedItem)="onItemRemove()">
  </app-toolbar>
</div>

<div class="canvas-container" #canvasContainer>
  <div class="canvas" #canvas (drop)="drop($event)" (dragover)="allowDrop($event)" (click)="onCanvasClick($event)">

  </div>
</div>

<app-popup *ngIf="showPreview">
  <app-canvas-preview [canvaElement]="project?.canvaElement" (closePreview)="showPreview = false"></app-canvas-preview>

</app-popup>

<app-canvas-scale></app-canvas-scale>
