@import "../../../../style/colors";
@import "../../../../style/structure";

.picker {
  width: 350px;
  z-index: 1;
  position: relative;
  height: $contentHeight;
  background: $leftExpandMenuBg;
  left: 0;
  top: 0;
  padding: 10px;
  color: white;
}

.picker-item {
  cursor: pointer;
}
