@import "../../../../style/colors";
@import "../../../../style/structure";

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: $gray-400;
}

.picker-close {
  right: -12px;
  position: absolute;
  top: 40%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    fill: $pickersBg;
    transform: rotate(180deg);
  }
}

.picker {
  width: 0;
  transition: width 0.4s ease-in;
  position: relative;
  height: $contentHeight;
  background: $pickersBg;
  color: white;

  &.show-picker {
    width: $pickerWidth;
  }
}

// 31425ae3
