@import "../../../../../style/colors.scss";
@import "../../../../../style/structure";

.elements-picker-container {
  padding: 20px 0 15px 15px;
  height: calc(100vh - #{$headerHeight} - 5px);
  overflow-y: auto;
}
