<div class='my-modal-header'>
  <h5 class="modal-title">Preview</h5>
  <div>
    <!-- <button mat-icon-button matTooltip="Close" matTooltipPosition="above" (click)="print()">
      <i class="material-icons">print</i>
    </button> -->

    <button mat-icon-button matTooltip="Close" matTooltipPosition="above" (click)="close()">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>
<div class="canvas-preview-container" id="canvas-preview-container">
  <div #canvasPreview class="canvas-preview fit-content" id="canvas-preview">
  </div>
</div>
<app-canvas-scale [node]="canvasPreview"></app-canvas-scale>
