@import "../../../../../style/colors.scss";
@import "../../../../../style/structure";

.my-modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: $largeFont;
}

.canvas-preview-container {
  width: calc(100vw - 60px);
  height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: $gray-20;
  border: 1px solid gainsboro;
  display: flex;
  // justify-content: center;
}

.canvas-preview-wrapper {
  transform-origin: top;
  margin: auto;
  padding: 50px;
}

.canvas-preview {
  box-shadow: 0px 0px 4px grey;
}
