<div class='my-modal-header'>
  <!-- <label class="modal-title">Preview</label> -->
  <div>
    <!-- <button mat-icon-button matTooltip="Close" matTooltipPosition="above" (click)="print()">
      <i class="material-icons">print</i>
    </button> -->

    <!-- <button mat-icon-button matTooltip="Close" matTooltipPosition="above" (click)="close()"> -->
    <i class="material-icons rotate-on-hover c-ptr" (click)="close()">close</i>
    <!-- </button> -->
  </div>
</div>
<div class="canvas-preview-container" id="canvas-preview-container">
  <div class="canvas-preview-wrapper">
    <div #canvasPreview class="canvas-preview" id="canvas-preview">
    </div>
  </div>
</div>
<app-canvas-scale [node]="canvasPreview"></app-canvas-scale>
