@import "../../style/structure";
@import "../../style/colors";

.app-header {
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray-300;

  padding: 0 25px;

  .header-logo {
    display: flex;
    align-items: center;

    mat-icon {
      font-size: 30px;
    }
  }

  .header-right-menu {
    ul {
      display: flex;
      li {
        margin-left: 20px;
      }

      li a, li button {
        // background-color: white;
        text-decoration: none;
      }
    }
  }
}
