@import "../../style/structure";
@import "../../style/colors";

.app-header {
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(54, 60, 68, 0.94);

  padding: 0 25px;

  .header-logo {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: -15px;
    padding: 4px 0 10px;

    a {
      height: 100%;
    }

    img {
      max-height: 100%;
    }

    mat-icon {
      font-size: 30px;
    }
  }

  .header-right-menu {
    ul {
      display: flex;
      li {
        margin-left: 5px;
      }

      li a,
      li button {
        // background-color: white;
        text-decoration: none;
      }
    }
  }
}

.btn-info {
  background-color: rgb(65, 71, 79);
  color: $gray-70;
  border: 0;
}

.btn-info:hover {
  background-color: rgb(65, 71, 79);
  color: $gray-20;
}
