<div class="app-header">
  <div class="d-flex align-items-center">
    <div>
      <button type="button" class="btn btn-info btn-sm" (click)="previewCanvas()">
        <i class="material-icons header-menu-icon">menu</i>
      </button>
    </div>
    <div class='header-logo ml-2'>
      <a class="p-none">
        <img src="/assets/images/logo5.png">
      </a>
    </div>
  </div>
  <div class='header-right-menu'>
    <ul>
      <li>
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" (click)="canvasSize.open()">
            Canvas Size
          </button>
          <app-canvas-size #canvasSize></app-canvas-size>
        </div>
      </li>
      <li>
        <button type="button" class="btn btn-info btn-sm" (click)="previewCanvas()">
          <i class="material-icons">visibility</i>
          Preview</button>
      </li>
      <li>
        <button type="button" class="btn btn-info btn-sm">
          <i class="material-icons">share</i>
          Share</button>
      </li>
      <li>
        <button type="button" class="btn btn-info btn-sm" (click)="downloadCanvas()">
          <i class="material-icons">get_app</i>
          Download</button>
      </li>

      <li>
        <button type="button" class="btn btn-info btn-sm user-account">
          <i class="material-icons">account_circle</i>
        </button>
      </li>
    </ul>
  </div>
</div>
