<div class="app-header">
  <div class='header-logo'>
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">local_see</mat-icon> -->
    <a href="/">
      <img src="/assets/images/post.png">
    </a>
  </div>
  <div class='header-right-menu'>
    <ul>
      <li>
        <button type="button" class="btn btn-info btn-sm" (click)="previewCanvas()">Preview</button>
      </li>
      <li>
        <a class="btn btn-info btn-sm" href="https://www.google.com/" target="_blank">Contact</a>
      </li>
    </ul>
  </div>
</div>
