@import "../../style/structure";
@import "../../style/colors";

.app-header {
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $headerBg;

  padding: 0 10px;

  .header-logo {
    align-items: center;
    display: flex;
    height: 100%;
    a {
      height: 35px;
    }

    img {
      max-height: 100%;
      padding: 7px;
      border-radius: 3px;
      background: white  // #8686c7;
    }

    mat-icon {
      font-size: 30px;
    }
  }

  .header-right-menu {
    ul {
      display: flex;
      li {
        display: flex;
        margin-left: 5px;
      }

      li a,
      li button {
        // background-color: white;
        text-decoration: none;
      }
    }
  }
}

.btn-info {
  background-color: $headerBg;
  color: $gray-70;
  border: 0;
}

.btn-info:hover {
  background-color: $headerBg;
  color: $gray-20;
}

.user-account {
  .material-icons {
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: 30px;
  }
}

.user-account:hover {
  // color: black;
}
