<div class="app-header">
  <div class='header-logo'>
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">local_see</mat-icon> -->
    <a href="/">
      <img src="/assets/images/logo5.png">
    </a>
  </div>
  <div class='header-right-menu'>
    <ul>
      <li>
        <button type="button" class="btn btn-info btn-sm" (click)="previewCanvas()">
          <i class="material-icons">visibility</i>
          Preview</button>
      </li>
      <li>
        <button type="button" class="btn btn-info btn-sm">
          <i class="material-icons">share</i>
          Share</button>
      </li>
      <li>
        <button type="button" class="btn btn-info btn-sm">
          <i class="material-icons">get_app</i>
          Download</button>
      </li>

      <li>
        <button type="button" class="btn btn-info btn-sm user-account">
          <i class="material-icons">account_circle</i>
        </button>
      </li>
    </ul>
  </div>
</div>
