@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "./style/colors.scss";
@import "./style/structure";
@import "./style/font.face";

@import "./style/material-wrapper";
@import "./style/bootstrap-wrapper";

html,
body {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Muli", Roboto, "Helvetica Neue", sans-serif;
}

label {
  margin: 0;
}

* {
  // font-family: 'Muli', Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.p-none {
  pointer-events: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.toolbar-icon-size {
  width: 32px !important;
  line-height: 32px !important;
  height: 32px !important;
}

.left-raiser-container {
  position: fixed;
  z-index: 10;
  left: $leftMenu;
  top: $headerHeight;
  width: $pickerWidth;
  height: $contentHeight;
  background: $gray-30;
  padding: 20px 0;
  box-shadow: 0 0 3px $gray-400;
}

.image-li {
  -webkit-user-drag: element;
  -khtml-user-drag: element;
  -moz-user-drag: element;
  -o-user-drag: element;
  -ms-user-drag: element;
  user-drag: element;
}

.rotate-90 {
  transform: rotate(90deg);
}
