@import "./style/colors.scss";
@import "./style/structure";
/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
