@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "./style/colors.scss";
@import "./style/structure";
@import "./style/font.face";

@import "./style/material-wrapper";
@import "./style/bootstrap-wrapper";
@import "./style/photos-grid";

html,
body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  font-family: "Mulish", "B612", sans-serif;
  letter-spacing: 0.3px;
}

label {
  margin: 0;
}

* {
  // font-family: 'Muli', Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.p-none {
  pointer-events: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.toolbar-icon-size {
  width: 32px !important;
  line-height: 32px !important;
  height: 32px !important;
}

.left-raiser-container {
  position: fixed;
  z-index: 10;
  left: $leftMenu;
  top: $headerHeight;
  width: $pickerWidth;
  height: $contentHeight;
  background: $gray-30;
  box-shadow: 0 0 3px $gray-400;
}

.image-li {
  -webkit-user-drag: element;
  -khtml-user-drag: element;
  -moz-user-drag: element;
  -o-user-drag: element;
  -ms-user-drag: element;
  user-drag: element;
}

.rotate-90 {
  transform: rotate(90deg);
}

.c-ptr {
  cursor: pointer;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: $gray-400;
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
  &:hover {
    transform: rotate(90deg);
  }
}

.scrollbox {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbox::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
}

.scrollbox::-webkit-scrollbar {
  width: 8px !important;
  background-color: transparent;
}

.scrollbox::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 4px;
  visibility: hidden;
}

.scrollbox::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 4px;
  visibility: hidden;
  transition: visibility 0.6s ease;
}

.scrollbox:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.picker-error-msg {
  color: $gray-70;
  font-size: $smallFont;
}

.picker-item-bg {
  background-color: $pickerItemBackground;
  transition: background-color 0.4s;
}

.picker-item-bg:hover {
  background-color: $pickerItemBackgroundHover;
}
