@import "../../../../../style/structure";
@import "../../../../../style/colors.scss";

.myInput {
  box-sizing: border-box;
  // background-image: url(searchicon.png);
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 13px;
  padding: 8px 9px 8px 9px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f6f6f6;
  // overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  // height: 250px;
  // overflow-y: auto;
  background: white;

  .cdk-virtual-scroll-viewport {
    height: 250px;
  }
}

.dropdown-content li {
  cursor: pointer;
  padding: 3px 8px;
}

.dropdown-content li:hover {
  background: $gray-50;
}
