<div class="dropdown">
  <div (click)="openDropdown()" #inputContainer>
    <ng-content></ng-content>
  </div>
  <ul id="myDropdown" class="dropdown-content" *ngIf="showList" (keydown.escape)="closeDropdown()"
    (appClickOutside)="onClickOutside()" [srcElement]="inputContainer">
    <ng-container *ngFor="let opt of list">
      <li *ngIf="!searching || doesStringContains(opt.label)"
      (click)="selectItem(opt)" (mouseenter)="hoverItem(opt)"
        [style.font-family]="changeFontFamily ? opt.value : 'inherit'">
        {{opt.label}}
      </li>
    </ng-container>
  </ul>
</div>
