@import "../../../../../style/colors.scss";
@import "../../../../../style/structure";

.color-picker {
  color: $gray-400;
  width: 100%;
  height: $contentHeight;
  padding: 0 20px;
  overflow-y: auto;
}

.color-pallete-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.color-pallete {
  // display: flex;
  // flex-wrap: wrap;
  width: 28px;
  height: 28px;
  border-radius: 0.15em;
  cursor: pointer;
  margin: 5px;
  // flex-shrink: 0;
  // justify-self: center;
  transition: all 0.15s;
  overflow: hidden;
  // background: transparent;
  box-shadow: 0 0 2px 0px $gray-300;
  transition: $boxShadowTransition;

  &:hover {
    box-shadow: 0 0 2px 1px $gray-300;
  }

  &.add-color-pallete {
    mat-icon {
      font-size: 20px;
      width: 20px;
    }
  }
}

.color-sketch {
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background: white;

  ::ng-deep .chrome-picker {
    border-radius: 0;
    box-shadow: 0 0 0;
  }
}

.my-color-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h5 {
    font-size: $mediumFont;
  }
}

.standard-color-header {
  margin-top: 2rem;
  border-top: 1px solid $gray-70;
  padding-top: 20px;

  h5 {
    font-size: $mediumFont;
  }
}

.color-picker-heading {
  // color: #aeaeae;
  margin-bottom: 20px;
  font-weight: bolder;

  h5 {
    border-bottom: 1px solid;
    padding-bottom: 5px;
    font-size: $mediumFont;
  }
}

.transparent-color-pallete {
  background-color: transparent;
  margin: 5px;
  width: calc(100% - 15px);
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $smallFont;
}
