@import "../../../../../style/colors.scss";
@import "../../../../../style/structure";

.color-picker {
  width: 100%;
  height: $contentHeight;
  overflow-y: auto;

  .color-pallete {
    display: inline-block;
    /* cursor: pointer; */
    width: calc(1.75em - 2px);
    height: calc(1.75em - 2px);
    border-radius: 0.15em;
    cursor: pointer;
    margin: 2.5px;
    flex-shrink: 0;
    justify-self: center;
    transition: all 0.15s;
    overflow: hidden;
    background: transparent;

    &.add-color-pallete {
      mat-icon {
        font-size: 20px;
        width: 20px;
      }
    }
  }
}

.color-sketch {
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background: white;

  ::ng-deep .chrome-picker {
    border-radius: 0;
    box-shadow: 0 0 0;
  }
}

.my-color-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h5 {
    font-size: $mediumFont;
  }
}

.standard-color-header {
  margin-top: 5rem;
  border-top: 1px solid $gray-100;
  padding-top: 20px;

  h5 {
    font-size: $mediumFont;
  }
}
